/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

:root {
  // colors:
  --color-primary: #178841;
  --color-primary-dark: #105430;

  --color-secondary: #e7007e;
  --color-negative: #ffffff;

  --gradient-primary: linear-gradient(300deg, rgba(24, 135, 65, 1) 0%, rgba(16, 84, 48, 1) 98%);
  --gradient-light: linear-gradient(300deg, rgb(249, 251, 253) 0%, rgb(251, 251, 251) 98%);
  --gradient-secondary: linear-gradient(300deg, rgb(255, 0, 159) 0%, rgba(231, 0, 138, 1) 98%);
  --gradient-special: linear-gradient(300deg, rgb(200, 167, 0) 0%, rgb(255, 218, 0) 98%);


  // spacing
  --spacing: 32px;
  --spacing-small: calc(var(--spacing) / 2);


  // radius
  --radius-large: 8px;
  --radius-small: calc(var(--radius-large) / 2);


  // shadows:
  --shaddow-medium: 1px 1px 2px rgba(0, 0, 0, 0.2);
  --shaddow-large: -1px 1px 4px 2px rgba(0, 0, 0, 0.1);

  // typography

  // transitions
  --transition-fast: 200ms;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

