:host {
  .main {
    padding: 0 calc(var(--spacing) * 2);

    &__list {
      display: block;
      margin-top: var(--spacing);
    }

    &__title {
      display: block;
      margin-top: calc(var(--spacing) * 2);
    }
  }
}
